@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=Montserrat:wght@500&family=Moon+Dance&family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #111111;
}

.container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  font-size: 23px;
}

.container a {
  text-decoration: none;
}

.nav {
  text-align: center;
  width: 33%;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 500;
  opacity: 1;
}

.nav:hover {
  opacity: 0.5;
}

.home {
  text-align: left;
  margin-left: 10px;
}

.services {
  text-align: right;
  margin-right: 10px;
}
