*{
padding:0;
margin:0;
color:#FFFFFF;
background-color:#262626;
background-image: url("https://static.stacker.com/s3fs-public/timeline_ww11_timeline_wwII_slide_lead.png");
background-repeat: no-repeat;
}
header h1{
  text-align:center;
}

h3, p{
margin-left:10px;
}

section{
  border-style:solid;
}

#answer{
  text-align:center;
}
.footer{
  text-align:center;
  padding-top:10px;
}

.img{
  display:flex;
  justify-content:right;
  }
.img img{
  width:25%;
}
