/*Your style will go here*/
* {
  background-color: #111111;
  font-family: sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0px;
}

a, li{
    list-style:none;
    text-decoration:none;
}

header h1{
    text-align:center;
}

.container{
    display:flex;    
    justify-content:space-between;
}

.links{
width:33%;
}

header h1{
color:#FFFFFF;
background-color:#ED1C24;
