/*Your style will go here*/
body{
    background-color: #708090;
}

a, li{
    list-style:none;
    text-decoration:none;
}

header h1{
    text-align:center;
}

.container{
    display:flex;    
    justify-content:space-between;
}

.links{
width:33%;
}

header h1{
color:#FFFFFF;
background-color:#ED1C24;
